footer{
	background-color: $pink;
	height: 200px;
	padding: 40px;
	.nav{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		a{
			color: white;
			&:hover, &:active, &:focus{
				background-color: $pink;
				color: $maroon;
			}
		}
	}
	p{
		text-align: center;
		color: white;
		font-size: 14px;
		line-height: 20px;
	}
}