#products{
	padding: 100px 0;
	.product{
		background-color: $mint-cream;
		box-shadow: $box-shadow;
		text-align: center;
		padding: 30px 20px;
		img{
			display: block;
			margin: 20px auto;
		}
		p{
			padding: 30px 0;
			@include roboto-reg;
			font-size: 18px;
			line-height: 25px;
		}
		a{
			@include roboto-reg-med;
			font-size: 25px;
			color: $maroon;
			text-transform: uppercase;
			border: 3px solid $maroon;
			border-radius: 30px;
			padding: 10px 30px;
			transition: all 0.3s ease;
			&:hover{
				background-color: $maroon;
				color: white;
				text-decoration: none;
			}
		}
	}
}

.modal{
	background-color: rgba(255,255,255,0.8);
}

.modal-content{
	box-shadow: $box-shadow;
	border-radius: 0;
	border: 2px solid $pink;
	.modal-header{
		background-color: $mint-cream;
		border-bottom: 2px solid $pink;
	}
	img{
		display: block;
		margin: 0 auto;
	}
	a{
		font-size: 25px;
		color: $maroon;
		text-transform: uppercase;
		border: 3px solid $maroon;
		border-radius: 30px;
		padding: 10px 30px;
		transition: all 0.3s ease;
		&:hover{
			background-color: $maroon;
			color: white;
			text-decoration: none;
		}
	}
}